* {
	font-family: 'Arial Narrow Bold', sans-serif;
}

body {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to right, red, yellow);
}

#chooseArt {
	position: fixed;
	top: 15px;
	color: #222;
}

#c {
	box-shadow: 5px 5px 10px #222;
}

#save {
	border: 1px solid #666;
}

#palette {
	position: fixed;
	left: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#locks {
	margin-bottom:1rem;
}
#lock_wrap {
	cursor: pointer;
	width: fit-content;
	height: fit-content;
}

#lock:checked~#lock_true {
	display: block;
}

#lock:checked~#lock_false {
	display: none;
}

#lock:not(:checked)~#lock_true {
	display: none;
}

#lock:not(:checked)~#lock_false {
	display: block;
}

#own_hues {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0px;
	cursor: pointer;
	transform-origin: center center;
}
.own_hue {
	position: relative;
	left: 125%;
	border:none;
	background-color: transparent;
}
.hidden {
	display:none;
}
.spin {
	animation:spin 3s linear infinite;
}
@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
.hue {
	position:relative;
	width: 24px;
	height: 24px;
	border: 1px solid #666;
	margin-bottom: 3px;
	display:flex;
	align-items: center;
	justify-content: center;
}

#info_wrap {
	position: fixed;
	bottom: 10px;
	right: 5px;
}

#info_btn {
	width: 17px;
	height: 17px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	background-color: #666;
	color: white;
	cursor: pointer;
	padding: 5px;
}

#toast {
	background: #666;
	color: white;
	position: fixed;
	bottom: 17px;
	width: max-content;
	max-width: 70vw;
	padding: .5rem 2rem .5rem 0;
	border-top-right-radius: 12px;
	border-bottom-left-radius: 12px;
	padding: 1rem;
	z-index: 100;
	display: none;
}

#toast>div {
	padding: .25rem 0;
}

.art,
select {
	padding: 10px;
}

select {
	border-radius: 1.5rem;
	background-color: transparent;
	border: none;
	outline: none;
}

#buttons {
	position: fixed;
	bottom: 15px;
	left: 15px;
}

button {
	background: none;
	border: none;
	border-radius: 1.4rem;
	padding: 10px 20px;
	text-transform: uppercase;
}

button:hover,
a:hover {
	background-color: #bbb;
}

#license,
#license:visited {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
	color: #666;
	text-decoration: none;
}

#mc {
	display: none;
}

#info_btn,
select,
button,
#license,
#license:visited {
	font-size: .7rem;
}

.github-corner {
	--gcw: 80px;
	position: absolute;
	top: 0;
	border: 0;
	right: 0;
	width: var(--gcw);
	height: var(--gcw);
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

	0%,
	100% {
		transform: rotate(0)
	}

	20%,
	60% {
		transform: rotate(-25deg)
	}

	40%,
	80% {
		transform: rotate(10deg)
	}
}

@media (max-width:1000px),
(max-height:500px) {

	#palette {
			transform-origin: center center;
			transform: scale(.7);
		}

	#info_btn {
		width: 13px;
		height: 13px;
	}

	#chooseArt {
		top: 5px;
	}

	.github-corner {
		--gcw: 40px;
	}

	.github-corner:hover .octo-arm {
		animation: none;
	}

	#info_btn,
	select,
	button,
	#license,
	#license:visited,
	#toast {
		font-size: .5rem;
	}

	#chooseArt>button {
		font-size: .5rem;
		border-radius: 1.4rem;
		padding: 5px 10px;
		text-transform: uppercase;
	}
}

@media (max-width:650px) {
	#info_btn {
		width: 13px;
		height: 13px;
	}

	.github-corner {
		--gcw: 40px;
	}

	.github-corner:hover .octo-arm {
		animation: none;
	}

	#palette {
		bottom: 0;
		left: unset;
		transform-origin: center center;
		transform: scale(.7) rotate(90deg);
	}

	#oh,
	#lock_wrap svg {
		transform-origin: center center;
		transform: scale(.7) rotate(-90deg);
	}

	#chooseArt>button {
		font-size: .5rem;
		border-radius: 1.4rem;
		padding: 5px 10px;
		text-transform: uppercase;
	}
}