* {
	font-family: 'Arial Narrow Bold', sans-serif;
}

body {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to right, red, yellow);
}

#chooseArt {
	position: fixed;
	top: 15px;
	color: #222;
}

#c {
	box-shadow: 5px 5px 10px #222;
}

#save {
	border: 1px solid #666;
}

#palette {
	position: fixed;
	left: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#lock_wrap {
	cursor: pointer;
}

#lock:checked~#lock_true {
	display: block;
}

#lock:checked~#lock_false {
	display: none;
}

#lock:not(:checked)~#lock_true {
	display: none;
}

#lock:not(:checked)~#lock_false {
	display: block;
}

.hue {
	width: 24px;
	height: 24px;
	border: 1px solid #666;
	margin-bottom: 3px;
}

#info_btn {
	width: 17px;
	height: 17px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: .7rem;
	background-color: #666;
	color: white;
	cursor: pointer;
	margin-top: .2rem;
}

#toast {
	background-color: #666;
	color:white;
	position:absolute;
	left:24px;
	transition:opacity .2s linear;
	width:max-content;
	padding:.5rem 2rem .5rem 0;
	border-top-right-radius: 12px;
	border-bottom-left-radius: 12px;
}
li {
	padding:.25rem;
}

#info:not(:checked)~#toast {
	opacity:0;
}

#info:checked~#toast {
	opacity:1;
}

.art,
select {
	padding: 10px;
}

select {
	border-radius: 1.5rem;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: .7rem;
}

#buttons {
	position: fixed;
	bottom: 15px;
	left: 15px;
}

#sticky {
	font-size: .7rem;
	display: flex;
	align-items: center;
	z-index: 100;
}

button {
	background: none;
	border: none;
	border-radius: 1.4rem;
	padding: 10px 20px;
	font-size: .7rem;
	text-transform: uppercase;
}

button:hover,
a:hover {
	background-color: #bbb;
}

#license,
#license:visited {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
	color: #666;
	font-size: .6rem;
	text-decoration: none;
}

#mc {
	display: none;
}

.github-corner {
	position: absolute;
	top: 0;
	border: 0;
	right: 0;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

	0%,
	100% {
		transform: rotate(0)
	}

	20%,
	60% {
		transform: rotate(-25deg)
	}

	40%,
	80% {
		transform: rotate(10deg)
	}
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}