* {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	cursor: url("data:image/svg+xml,%3Csvg width='10mm' height='10mm' viewBox='0 0 22.2 22.2' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cfilter id='filter1834' x='-.24' y='-.24' width='1.48' height='1.48' style='color-interpolation-filters:sRGB'%3E%3CfeGaussianBlur result='blur' stdDeviation='1.5 1.5'/%3E%3C/filter%3E%3C/defs%3E%3Cg transform='translate(-25.6,-85.1)'%3E%3Ccircle cx='36.7' cy='96.2' r='7.5' style='fill:%23222;filter:url(%23filter1834);opacity:.4;stroke-linecap:round;stroke-linejoin:round;stroke-width:.197'/%3E%3C/g%3E%3C/svg%3E") 5 5, default;
}

body {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000cc;
}

#chooseArt {
	position: fixed;
	bottom: 15px;
	left: 15px;
	color: white;
}

.art,
select {
	padding: 10px;
}

#buttons {
	position: fixed;
	top: 15px;
	left: 15px;
}

button {
	background: none;
	border: none;
	color: white;
	padding: 10px 20px;
	font-size: 1.1rem;
}

button:hover {
	background-color: #222222bb;
	cursor: none;
}

#mc {
	display: none;
}
.github-corner {
position: absolute;
	top: 0;
	border: 0;
	right: 0;
}
.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

	0%,
	100% {
		transform: rotate(0)
	}

	20%,
	60% {
		transform: rotate(-25deg)
	}

	40%,
	80% {
		transform: rotate(10deg)
	}
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}